.u-section-1 .u-sheet-1 {
  min-height: 173px;
}.u-section-2 {
  background-image: url("images/IMG_20201109_111249.jpg");
  background-position: 50% 50%;
  background-size: 110%;
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-group-1 {
  width: 469px;
  min-height: 520px;
  background-image: none;
  height: auto;
  margin: -37px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 293px;
  height: 236px;
  object-position: 50% 35.91%;
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 255px;
    height: 191px;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    width: 338px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 97px;
}.u-section-4 .u-sheet-1 {
  min-height: 762px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-4 .u-image-1 {
  min-height: 423px;
  background-image: url("images/image_2.jpg");
  background-position: 9.82% 100%;
  background-size: auto 115%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 210px;
  background-image: url("images/4.PNG");
  background-position: 12.65% 40.26%;
  background-size: auto 135%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 228px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 210px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 210px;
  background-image: url("images/_05.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 423px;
  background-image: url("images/IMG-20210119-WA0006.jpg");
  background-position: 100% 0%;
  background-size: auto 120%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 349px;
  }

  .u-section-4 .u-image-2 {
    min-height: 173px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 173px;
  }

  .u-section-4 .u-image-3 {
    min-height: 173px;
  }

  .u-section-4 .u-image-4 {
    min-height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 535px;
  }

  .u-section-4 .u-image-2 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 265px;
  }

  .u-section-4 .u-image-4 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 401px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 398px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 398px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 401px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 252px;
  }

  .u-section-4 .u-image-2 {
    min-height: 251px;
  }

  .u-section-4 .u-image-3 {
    min-height: 251px;
  }

  .u-section-4 .u-image-4 {
    min-height: 252px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 67px;
}.u-section-6 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 103px 0 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px 30px 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 494px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-1 {
  height: 454px;
  animation-duration: 2000ms;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 55.5% 50%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 478px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-6 .u-image-2 {
  width: 642px;
  height: 438px;
  animation-duration: 2000ms;
  margin: 0 auto 0 -77px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 254px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-6 .u-image-1 {
    height: 374px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-6 .u-image-2 {
    width: 522px;
    height: 328px;
    margin-left: -52px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-6 .u-image-1 {
    height: 573px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 604px;
  }

  .u-section-6 .u-image-2 {
    width: 644px;
    height: 428px;
    margin-top: -114px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-6 .u-image-1 {
    height: 430px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 453px;
  }

  .u-section-6 .u-image-2 {
    width: 495px;
    height: 359px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-6 .u-image-1 {
    height: 271px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-6 .u-image-2 {
    width: 305px;
    height: 247px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 67px;
}.u-section-8 .u-sheet-1 {
  min-height: 921px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 130px auto 130px 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 291px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 60px 70px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 291px;
  background-image: url("images/orion-nebula-11107__480.webp");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 291px;
}

.u-section-8 .u-container-layout-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-8 .u-image-2 {
  min-height: 412px;
  width: 615px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/milky-way-984050__480.jpg");
  background-position: 50% 50%;
  margin: -82px auto 0 0;
}

.u-section-8 .u-container-layout-4 {
  margin: 0;
  padding: 20px 60px;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 60px 30px 80px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-8 .u-image-1 {
    min-height: 240px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-8 .u-image-2 {
    width: 523px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 284px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 184px;
  }

  .u-section-8 .u-image-2 {
    min-height: 346px;
    width: 412px;
    margin-top: -63px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 426px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 276px;
  }

  .u-section-8 .u-image-2 {
    width: 460px;
    margin-top: -112px;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-8 .u-image-1 {
    min-height: 268px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 174px;
  }

  .u-section-8 .u-image-2 {
    width: 300px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 67px;
}.u-section-10 .u-sheet-1 {
  min-height: 972px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 125px 0 125px auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-10 .u-image-1 {
  width: 642px;
  height: 438px;
  animation-duration: 1000ms;
  margin: 0 -72px 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 254px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 80px 30px 30px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0 auto;
}

.u-section-10 .u-layout-cell-4 {
  min-height: 474px;
}

.u-section-10 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-2 {
  height: 454px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-10 .u-image-1 {
    width: 522px;
    height: 328px;
    margin-right: -52px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-10 .u-text-2 {
    margin-left: undefined;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-10 .u-text-4 {
    margin-left: undefined;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 391px;
  }

  .u-section-10 .u-image-2 {
    height: 375px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-10 .u-image-1 {
    width: 644px;
    height: 428px;
    margin-top: -114px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 599px;
  }

  .u-section-10 .u-image-2 {
    height: 473px;
    width: 612px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-10 .u-image-1 {
    width: 495px;
    height: 359px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 449px;
  }

  .u-section-10 .u-image-2 {
    height: 361px;
    width: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-10 .u-image-1 {
    width: 305px;
    height: 247px;
  }

  .u-section-10 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-10 .u-image-2 {
    height: 263px;
    width: 305px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 843px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 102px 0 113px auto;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-11 .u-image-1 {
  width: 796px;
  height: 390px;
  margin: 0 auto -28px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 362px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 16px;
}

.u-section-11 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 266px;
}

.u-section-11 .u-container-layout-3 {
  padding-left: 51px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-11 .u-text-3 {
  margin: 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-4 {
  min-height: 266px;
}

.u-section-11 .u-image-2 {
  width: 427px;
  height: 334px;
  margin: -69px 0 1px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-11 .u-image-1 {
    width: 656px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 42px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 42px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 109px;
  }

  .u-section-11 .u-image-2 {
    width: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-11 .u-image-1 {
    width: 503px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 32px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 83px;
  }

  .u-section-11 .u-image-2 {
    width: 270px;
    height: 288px;
    margin-top: -23px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 24px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-11 .u-image-1 {
    width: 471px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 24px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 63px;
  }

  .u-section-11 .u-image-2 {
    width: 307px;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 15px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-11 .u-image-2 {
    width: 212px;
  }
}